{% macro user_messages(messageinfo, path, admin) %}
                {% for messagedata in messageinfo %}
                <div class="media message"> <!-- viesti alkaa -->
                    <!--<a class="media-left" href="#">
                        <img alt="kuva" src="" />
                    </a>-->
                    <div class="media-body">
                        <h4 class="media-heading"><a href="{{path}}/user/{{messagedata.user.id}}">{{messagedata.user.username}}</a></h4>
                        <p>{{messagedata.message.text | raw}}</p>
                        <ul class="nav nav-pills nav-pills-custom">
                            <li><a href="#"><span class="glyphicon glyphicon-share-alt"></span></a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-retweet"></span></a></li>
                            <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                            {% if admin %}
                            <li><a href="{{path}}/remove/{{messagedata.message.id}}" onclick="return confirm('Poista viesti?')"><span class="glyphicon glyphicon-remove" style="color: #FF0000"></span></a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div> <!-- viesti päättyy -->
                {% endfor %}
{% endmacro %}
