{% extends "base.html" %}
{% import "macros/content.html" as content %}
{% block content %}
<div class="row">
    <div class="col-sm-3"> <!-- vasen paneeli -->
        <div class="panel panel-default">
            <div class="panel-body">
                <!-- <img src="" alt="kuva" /> -->
                <!--
                <p><strong>@Käyttäjä</strong></p>
                <p><small>oikeanimi</small></p>
                <p><small>Rekisteröitynyt maaliskuussa 2017</small></p>
                <div class="row">
                    <div class="col-xs-3">
                        <h5><a href="#">0</a><small> viestiä</small></h5>
                    </div>
                    <div class="col-xs-4">
                        <h5><a href="#">0</a><small> seurattu</small></h5>
                    </div>
                    <div class="col-xs-5">
                        <h5><a href="#">0</a><small> seuraajaa</small></h5>
                    </div>
                </div>
                <p><span>Kuvaus käyttäjästä joka ulottuu ehkä seuraavalle riville ja niin edelleen ja edelleen</span></p>
                -->
            </div>
        </div>
    </div>

    <div class="col-sm-6"> <!-- keskiosio -->
        {% if user %}
        <div class="media-body"> <!-- viestin kirjoitus -->
            <div class="form-group has-feedback">
                <form action="{{base_path}}/user/{{user.id}}" method="post" id="sentmessage"> 
                    <input type="hidden" name="userid" value="{{user.id}}" />
                    <input type="hidden" name="replyid" value="0" />
                    <input type="hidden" name="public_message" value="true" />
                    <textarea class="form-control" name="text" id="text" placeholder="Uusi viesti..."></textarea>
                    <button class="btn btn-primary" type="submit">Lähetä</button>
                </form>
            </div>
        </div> <!-- -->
        {% endif %}

        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="media-body">
                    <!-- haku -->
                    <form action="{{base_path}}/search" method="post" id="search"> 
                        <div class="form-group has-feedback">
                            <input type="text" class="form-control" id="search">
                            <span class="glyphicon glyphicon-search form-control-feedback"></span>
                        </div>
                    </form>
                </div>
            </div>
            <div class="panel-body"> <!-- viestialue -->
                {{content.user_messages(messageinfo, base_path, admin)}}
            </div> <!-- viestialue päättyy -->
        </div>
    </div>

    <div class="col-sm-3">
        <div class="panel panel-default panel-custom">
            <div class="panel-heading"> <!-- jotain -->
            </div>
        </div>
    </div>

</div>
{% endblock %}
