{% extends "base.html" %}
{% import "macros/content.html" as content %}
{% block content %}
<div class="row">
    <div class="col-sm-3"> <!-- vasen paneeli -->
        <div class="panel panel-default">
            <div class="panel-body">
                <h4>Viime aikoina suositut:</h4>
                {% if tags %}
                {% for tag in tags %}
                <p>{{tag|raw}}</p>
                {% endfor %}
                {% else %}
                <p>No activity!</p>
                {% endif %}
            </div>
        </div>
    </div>

    <div class="col-sm-6"> <!-- keskiosio -->
        {% if user %}
        <div class="media-body"> <!-- viestin kirjoitus -->
            <div class="form-group has-feedback">
                <form action="{{base_path}}/user/{{user.id}}" method="post" id="sentmessage"> 
                    <input type="hidden" name="userid" value="{{user.id}}" />
                    <input type="hidden" name="replyid" value="0" />
                    <input type="hidden" name="public_message" value="true" />
                    <textarea class="form-control" name="text" id="text" placeholder="Uusi viesti..."></textarea>
                    <button class="btn btn-primary" type="submit">Lähetä</button>
                </form>
            </div>
        </div> <!-- -->
        {% endif %}

        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="media-body">
                    <!-- haku -->
                    <form action="{{base_path}}/search" method="post" id="search"> 
                        <div class="form-group has-feedback">
                            <input type="text" class="form-control" id="search">
                            <span class="glyphicon glyphicon-search form-control-feedback"></span>
                        </div>
                    </form>
                </div>
            </div>
            <div class="panel-body"> <!-- viestialue -->
                {% if followed and not followed.has_content %}
                <p>Ei seurattuja käyttäjiä tai seurattujen käyttäjien viestejä!</p>
                {% else %}
                {{content.user_messages(messageinfo, base_path, admin)}}
                {% endif %}
            </div> <!-- viestialue päättyy -->
        </div>
    </div>

    <div class="col-sm-3">
        <div class="panel panel-default panel-custom">
            <div class="panel-heading"> <!-- jotain -->
            </div>
        </div>
    </div>

</div>
{% endblock %}
