{% extends "base.html" %}
{% block content %}
<div id="password">
    <h2>Salasanan vaihtaminen</h2>
    <form id="password_form" action="{{base_path}}/password" method="post">
        <div id="form-center">
            <label for="password"><span>Nykyinen salasana</span></label>
            <input type="password" size="16" maxlength="32" name="password" class="form-control" placeholder="Salasana" />
            <label for="newpassword"><span>Uusi salasana</span></label>
            <small id="formHelp" class="form-text text-muted">Pituus 8-32 merkkiä.</small>
            <input type="password" size="16" maxlength="32" name="newpassword" class="form-control" placeholder="Uusi salasana" />
            <label for="newpasswordcheck"><span>Uusi salasana uudelleen</span></label>
            <input type="password" size="16" maxlength="32" name="newpasswordcheck" class="form-control" placeholder="Uusi salasana uudelleen" />
            <button class="btn btn-primary" type="submit">Lähetä</button>
        </div>
    </form>
</div>
{% if errors %}
<div class="row">
<div id="errors" class="alert alert-danger">
    <ul>
    {% for error in errors %}
    <li>{{error}}</li>
    {% endfor %}
    </ul>
</div>
</div>    
{% endif %}
{% endblock %}
